
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
}

a {
  color: white;
}
img {
  width: 100%;
}

h1{
  text-align: center;
  margin: 0px;
  padding: 30px;
  background-color: #A8D1D1;
}

.playlist{
  padding:20px;
  margin-bottom:16px;
  background-color: #FD8A8A;
}

.song-title{
  position:absolute;
  width: 100%;
  bottom: 5px;
  padding: 16px 0px;
  text-align: center;
  background-color: rgba(255,255,255,0);
}